body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input[type="text"] {
  padding: 4px 8px;
  border-radius: 2px;
  border: 1px solid lightgray;
}
input[type="text"]:focus {
  outline: none;
  border: 1px solid gray;
}
input.block + input.block {
  margin-top: 4px;
}

.block {
  display: block;
}

.block + .block {
  margin-top: 2;
}