dd {
  margin-left: 0;
}
dt {
  font-weight: 600;
}
.todo-list-item {
  font-size: 1em;
  color: #333;
  font-family: sans-serif;
}
.todo-list-item span[role="delete"] {
  margin-left: 5px;
  color: pink;
}
span[role="delete"]:hover {
  color: red;
}
.todo-list-item.todo-list-complete,
.todo-list-item.todo-list-complete + dd {
  text-decoration: line-through;
  color: #989898;
}